.section-1_calendar {
	background: url("../img/forecasts-bg.png") no-repeat;
	background-size: cover;
}
.section-2_calendar {
	position: relative;
	margin: 40px 0;
}
.calendar-scroll {
	position: relative;
}
.white-block {
	position: absolute;
	top: 0;
	left: 16px;
	width: 187px;
	height: 25px;
	background: #ffffff;
}
.white-block2 {
	position: absolute;
	top: 0;
	right: 32px;
	width: 83px;
	height: 23px;
	background: #ffffff;
}
