.section-1_defend, .section-1_instruments, .section-1_awards,
.section-1_learning, .section-1_about, .section-1_platform,
.section-1_replenishment, .section-1_tranding-accounts,
.section-1_partnership, .section-1_bonus, .section-1_forex,
.section-1_percente-bonus, .section-1_forecasts, .section-1_calendar,
.section-1_akcii, .section-1_indexes, .section-1_cryptocurrency,
.section-1_metal, .section-1_fuel, .section-1_news, .section-1_news-page,
.section-1_forex, .section-1_testdrive-bonus, .section-1_agricultural,
.section-1_faq, .section-1_contacts {
	background: url("../img/defend-bg.png") no-repeat;
	background-size: cover;
	width: 100%;
	height: 371px;
	h1 {
		color: $white-color;
		border: none;
		padding: 0;
		margin-top: 186px;
	}
}
.section-2_defend, .section-2_awards {
	padding: 60px 0 80px 0;
	background: #f1f7f5;
	p {
		font-size: 18px;
		color: $black-color;
		&:first-child {
			padding-bottom: 35px;
			margin-bottom: 35px;
			border-bottom: 1px solid $green-color;
		}
	}
}
.model-work_defend {
	position: relative;
	margin-top: 65px;
	margin-bottom: 60px;
	p {
		font-size: 16px;
		color: $black-color;
		&:first-child {
			margin-bottom: 20px;
		}
	}
}